@use "./colors.scss";

body {
  padding: 0;
  margin: 0;
  background-color: colors.$background;
  font-family: Arial,sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  min-height: 40px;
  border-width: 1px;
  border-radius: 3px;
  border-color: colors.$inputBorderColor;
  padding: 5px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
